@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
	align-items: center;
}


* {
	
	margin: 0;
	padding: 0;
	align-items: center;
}

.container {
	background:url(bg.jpg);
	height: 100vh;
	background-size:100% 100% ;
}
.container .navbar {
	width: 100% ; 
	height: 150px;
	background: rgba(22,112,214,0.7)
	
	
	
}


.navbar .logo {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
	
}


.navbar .logo a{
	text-decoration: none;
	font-size: 50px; 
	font-family:Georgia;
	color: yellow;
	
	
	
	
	
}

.navbar  ul{
	float: right;
	margin-right: 20px;
	
}

.navbar ul li{
	list-style: none;
	display:inline-block;
	margin:0 8px;
	line-height: 80px;

	
}
.navbar ul li a{
	color:yellow;
	text-decoration:none;
	font-size: 15px;
	padding:6px 13px;
	font-family: Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover{
	background: navy;
	border-radius: 2px;
	
}


.container .center {
	
	position:absolute;
	top:50%;
	left:50%; 
	transform: translate(-50%,-50%);
   font-family:Georgia;
   user-select: none;
}

.center h1{
	color: rgba(255, 0, 0, 0.9);
	font-size:70px;
	font-weight:bold;
	width:900px;
	text-align:center;
	
	
}

.center h2{
	color: rgba(255, 0, 0, 0.9);
	font-size:50px;
	font-weight:bold;
	width:885px;
	text-align:center;
	margin-top: 10px;
	
	
	
}

.center .buttons{
	margin: 35px 280px;
	
}
.buttons   button   {
	height: 50px;
	width: 150px;
	font-size: 18px;
	 font-family:Georgia;
	 font-weight:bold;
	color: navy;
	background: yellow;
	border: solid 1px blue;
	cursor: pointer;
	outline: none;
	border-radius:25px;
	

}


.buttons button:hover{
	background: white;
	
}

.center .buttons button a {
	text-decoration:none;
	font-family:Georgia;
	 font-weight:bold;
}
.paragraph p  {
	position:absolute;
	background-color: yellow;
	color: navy;
	top:50%;
	left:50%; 
	transform: translate(-50%,-50%);
	align-items: center;
	
	

  

  }

  .paragraph img{
	position:absolute;
	top:47%;
	left:90%; 
	transform: translate(-50%,-50%);
	  float: right;
	  align-items: center;
  }
.paragraph h1 {
	font-size:19px;
	color: navy;
	position:absolute;
	top:30%;
	left:90%; 
	transform: translate(-50%,-50%);
	text-align: center;
	align-items: center;
	  float: right;
}
.orta_alan {
	display: flex;
	width: 95%;
justify-content: space-around;

}
.orta {
	width: 22%;
	border: 2px solid rgb(51, 255, 0);
	border-radius: 15px;
	margin: 2% 0;
	box-sizing: border-box;
	background: linear-gradient(navy , yellow );

	


}
.orta .icerik {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	text-align: justify;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgba(25, 0, 255, 0.685);

}

.orta p   {text-indent: 15px;}


.orta img {
	width:70%;
}


.temmuz iframe {
	width: 50%;
	height: 50%;
	position:absolute;
	top:50%;
	left:30%; 
	transform: translate(-50%,-50%);
	align-items: center;

}
.temmuz img {
	width: 30%;
	position:absolute;
	top:60%;
	left:80%; 
	transform: translate(-50%,-50%);
	align-items: right;

}



.puan iframe {
	width:100%;
	height:70%;
	position:absolute;
	top:50%;
	left:50%; 
	transform: translate(-50%,-50%);
	align-items: center;
	border:none;
}